version: '3.8'

services:
  postgres:
    build: .
    container_name: bank-postgres
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bankdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

